<%- include('../partials/sidebar') %>

<style>
    img{
        width: 25%;
    }
</style>

<div class="row">
    <div class="col" style="text-align: center;">
        <img style="border-radius: 5px;" src="https://s3.amazonaws.com//beta-img.b2bstack.net/uploads/production/product/product_image/1501/img-032.png" alt="">
        <img style="margin-left: 5%; width: 35%;" src="https://www.fibracem.com/wp-content/uploads/2020/11/LOGO-FIBRACEM-5.png" alt="">
        <img style="margin-left: 5%;" src="https://logodownload.org/wp-content/uploads/2019/12/totvs-logo.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 style="text-align: center; font-size: 40px;">Bem-vindo ao integrador da Fibracem.</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>
            Um sistema desenvolvido pela T.I para facilitar o acesso das informações do TOTVS e do Korp.
            Estamos em fase experimental, logo algumas funcionalidades podem não funcionar de forma correta.
            Se caso você encontrar algum erro favor abrir chamado para T.I.
        </h3>
    </div>
</div>